* {
    margin: 0;
    padding: 0;
}
body {    
    background: gray url(../img/wall.jpeg) no-repeat center center;
    background-size: cover;
}
.header{
    height: 50px;
    width: 100%;
    background: #263649;
    position: fixed;
    top: 0;
    left: 0;
}
a {
    text-decoration: none;    
}
main {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}
#mainXXXXX {
    display: inline-block;
}

kbd {
    border: 1px solid red;
    width: 4em;
    height: 4em;
    display: inline-block;
    text-transform: uppercase;
    position: relative;
}
kbd > button {
    position: absolute;
    right: 0;
    bottom: 0;
    display: none;
    background: #373737;
    color: #C9C8C9;
    border-color: #373737;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 6px;
}
kbd:hover > button {
    display: inline-block;
}
#mainXXXXX div:nth-child(2){
    margin-left: -15px;
}
#mainXXXXX div:nth-child(3) {
    margin-left: -80px;
}


.key {
    width: 50px;
    height: 40px;
    background: linear-gradient(to bottom, #292929 1%,#111111 100%);
    color: #C9C8C9;
    border: 1px solid #373737;
    border-radius: 6px;
    box-shadow: 0 0 0 1px #1a1b1c, 0 0 0 2px #1f2020, 0 3px 0 2px #080808;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px; 
    position: relative;
                                            
}
.key:hover {
    box-shadow: 0 0 0 1px #1a1b1c, 0 0 0 2px #1f2020, 0 2px 0 1px #080808;
}

.row {
    margin:18px;
}
.row .key {
    margin: 0 10px;
}
main .warpper {
    background: rgba(184, 180, 180, 0.4);
    border-radius: 10px;
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.5);
}

    

.key img {
    width: 14px;
    height: 14px;
   
}

.key .text {
    position: absolute;
    left: 6px;
    top: 3px;
}
.key img {
    position: absolute;
    left: 4px;
    bottom: 3px;
}
